.btn {
	border-width: 0;
	background-color: $decor-bg;
	margin-right: 10px;
	padding: 10px;
	font-size: 20px;
	transition: 0.3s all;

	&:last-child {
		margin-right: 0;
	}

	&.active {
		background-color: #d4d3d0;
	}
}

.btns-wrapper {
	margin-bottom: 15px;
}

@media screen and (max-width:576px) {
	.btns-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.btn {
		font-size: 16px;
		padding: 8px;
	}
}

@media screen and (max-width:320px) {
	.btn {
		padding: 6px;
		margin-right: 0px;
	}
}